
:root{
    --main-background-color: #1B1A1A;
    --main-header-text-color: #ff7400;
}
body{
    background: var(--main-background-color);
    text-decoration: none;
}
h1{
    text-align: center;
    color: white ; 
}
.maps{
    background-color: var(--main);
    display: flex;
    text-decoration: none;
    
}
.WAW, .BO1, .BO2, .BO3, .BO4, .BOCW, .BO6{
    text-decoration: none;
    color: white;
    text-align: left;
}

    

